/* Estilos para el contenedor principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; /* Fondo negro */
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilos para el título del formulario */
.login-form h1 {
    margin-bottom: 2rem;
    color: #333; /* Título oscuro para contraste */
}

/* Estilos para los campos de entrada */
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem; /* Espacio entre los campos de entrada */
}

/* Estilos para el botón de inicio de sesión */
.button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #007bff; /* Botón de color azul */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem; /* Espacio antes del enlace de registro */
}

/* Estilos para el enlace de olvido de contraseña y registro */
.link, .forgot-password {
    color: #007bff; /* Enlaces de color azul */
    text-decoration: none;
    display: inline-block;
    margin-top: 0.5rem;
}

.sign-up-link {
    color: #888;
    margin-top: 1rem;
}

.sign-up-link a {
    color: #007bff; /* Enlaces de color azul */
    text-decoration: none;
    font-weight: bold;
}
