{% extends 'base_generic.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}
    {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
    {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}

    <div>
      {{ form.user_type.label_tag }} {{ form.user_type }}
      {{ form.user_type.errors }}
    </div>

    <button type="submit">Register</button>
  </form>
{% endblock %}
