{% extends "base_generic_visitante.html" %}

{% block content %}
  <div id="fondo">
    <div class="letra_texto contenedor_principal"  >
      <h1 class="letra_titulos">Preguntas frecuentes.</h1>
      <hr class="lineaDivisoria_2">
    <div class="preguntas_f" class="letra_titulos">
      <ul class="letra_preguntas">
        <li style="padding: 10px;"><a href="#aeneta_D">¿Qué es el Sistema Aeneta?</a></li>
        <li style="padding: 10px;"><a href="#como_b">¿Cómo puedo buscar documentos en el Sistema Aeneta?</a></li>
        <li style="padding: 10px;"><a href="#acceso_n">¿Es necesario ser parte del IPN para acceder al Sistema Aeneta?</a></li>
        <li style="padding: 10px;"><a href="#subir_d">¿Puedo subir mi trabajo académico al Sistema Aeneta?</a></li>
        <li style="padding: 10px;"><a href="#beneficios">¿Qué beneficios ofrece el Sistema Aeneta?</a></li>
        <li style="padding: 10px;"><a href="#citar">¿Cómo puedo citar los documentos encontrados en el Sistema Aeneta?</a></li>
        <li style="padding: 10px;"><a href="#errores">¿Qué hacer si encuentro un error en el documento o el enlace está roto?</a></li> 
      </ul>
    </div>
    <hr class="lineaDivisoria_2">
    <div class="respuestas" style="padding: 50px;">
      <p class="letra_titulos">¿Qué es el Sistema Aeneta?</p>
      <div id="aeneta_D" >
        El Sistema Aeneta es un repositorio digital creado por el Instituto Politécnico Nacional para almacenar y facilitar el acceso a trabajos terminales y académicos, incluyendo tesis, proyectos de investigación y artículos, con el fin de apoyar la investigación y el aprendizaje dentro de la comunidad del IPN.
      </div>
      <hr class="lineaDivisoria">
      <p class="letra_titulos">¿Cómo puedo buscar documentos en el Sistema Aeneta? </p>
      <div id="como_b" >
        Para buscar documentos en el Sistema Aeneta, utiliza el motor de búsqueda integrado en la plataforma. Puedes realizar búsquedas por palabras clave, autor, título, área de estudio, entre otros criterios, para encontrar los documentos que necesitas.
      </div>
      <hr class="lineaDivisoria">
      <p class="letra_titulos">¿Es necesario ser parte del IPN para acceder al Sistema Aeneta? </p>
      <div id="acceso_n" >
        Mientras que el acceso a ciertos documentos puede estar restringido a miembros de la comunidad del IPN, muchas de las obras están disponibles para el público general. Es recomendable revisar las políticas de acceso específicas en el sitio web del Sistema Aeneta.
      </div>
      <hr class="lineaDivisoria">
      <p class="letra_titulos">¿Puedo subir mi trabajo académico al Sistema Aeneta? </p>
      <div id="subir_d" >
        Si eres estudiante o profesor del IPN y has completado un trabajo terminal o académico puedes subirlos o contactar con algun administrador para que te ayude.
      </div>
      <hr class="lineaDivisoria">
      <p class="letra_titulos">¿Qué beneficios ofrece el Sistema Aeneta? </p>
      <div id="beneficios" >
        El Sistema Aeneta ofrece varios beneficios, como la mejora en la búsqueda y acceso a documentos académicos, acceso facilitado a referencias académicas para proyectos e investigaciones, preservación digital del conocimiento, fomento de la colaboración académica y optimización de recursos.
      </div>
      <hr class="lineaDivisoria">
      <p class="letra_titulos">¿Cómo puedo citar los documentos encontrados en el Sistema Aeneta? </p>
      <div id="citar" >
        Para citar documentos del Sistema Aeneta, sigue el formato de citación recomendado por tu área de estudio o el que se especifica en las directrices para autores de tu institución. Asegúrate de incluir toda la información relevante, como el autor, título del trabajo, año de publicación, y el enlace al documento en el Sistema Aeneta.
      </div>
      <hr class="lineaDivisoria">
      <p class="letra_titulos">¿Qué hacer si encuentro un error en el documento o el enlace está roto? </p>
      <div id="errores" >
        Si encuentras un error en un documento o un enlace roto, por favor, reporta el problema a través del formulario de contacto disponible en el sitio web del Sistema Aeneta. Proporciona toda la información necesaria para identificar el documento y describir el problema, lo que ayudará a resolverlo más rápidamente.
      </div>

    </div>
    </div>
  </div>
{% endblock %}
